# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local
src/config/firebase_config.jsx
src/images/back-arrow.svg
src/images/logo.svg
src/images/rectangle.svg
src/images/shape.svg
public/data

# env
*.env
